[submodule "openssl/ohos-openssl"]
	path = openssl/ohos-openssl
	url = https://github.com/ohos-rs/ohos-openssl
[submodule "cross-compiler/mmkv/entry/src/main/cpp/mmkv"]
	path = cross-compiler/mmkv/entry/src/main/cpp/mmkv
	url = https://github.com/Tencent/MMKV.git
